@page "/"

@using Blaze.Components;

@code{
     private string welcomeMessage = "However you like your pizzas, we can deliver them fast!";
}


<PageTitle>Home</PageTitle>




Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<p>@welcomeMessage</p>


<Login />